.movie-image {
  width: 40%;
  height: 60%;
  height: auto;
  margin-bottom: 10px;
}

.dialog-details {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.mat-mdc-dialog-surface,
.mdc-dialog__container,
.mat-mdc-dialog-panel {
  background-color: red !important;
  border-radius: 1px !important;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 5px;
}