.mat-toolbar-single-row {
  position: absolute;
  background: transparent;
  z-index: 100;
}

.mat-icon {
  width: 40px;
  height: 30px;
  font-size: 30px;
  background-color: rgba(245, 245, 245, 0.301);
  color: black;
  border-radius: 5px;
}

.toolbar-welcome button {
  margin-right: 10px;
}

.mat-toolbar {
  display: flex;
  align-items: center;
}

.logo-img {
  margin-left: 20px;
  margin-top: 5px;
  width: 100px;
  height: 20px;
}