$body-bg: #b5bcc4a2;

.profile-page {
  width: 100vw;
  height: 100vh;
  background-image: url('../../../public/img/backgroud.png');
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  display: flex;
  width: 470px;
  height: 400px;
  background-color: $body-bg;
  color: white;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  flex-direction: column;
  padding: 50px;
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-tab-body-wrapper {
  margin-top: 20px;
}

.mdc-tab__text-label,
.mat-mdc-tab-labels {
  color: white !important;
}

.mat-mdc-tab-header {
  background-color: wheat !important;
}